.profile-pic {
    max-width: 42px;
    max-height: 42px;
    display: block;
}

.file-upload {
    display: none;
}
.circle {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 46px;
    height: 46px;
    border: 2px solid rgb(255 255 255 / 70%);
    position: absolute;
    top: 3px;
    padding: 4px;
    background-color: #c5c5c5;
}
.p-image>i {
    filter: drop-shadow(0 0 3px rgba(0,0,0,0.32));
}
.p-image {
    position: absolute;
    top: 24px;
    left: 50px;
    color: #fff;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    cursor: pointer;
}
.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #025d73;
}
.circle>img {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
}