*{

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}

span.input-group-btn>input {
    opacity: 0;
}

.video-question-box {
    height: 73vh;
}

body{

    font-family: 'Open Sans', sans-serif;

     background-color: #fff;

    

}


button:focus {

    outline: 0 dotted;

    outline: 0px auto -webkit-focus-ring-color;

}

#header-area .header-video-bg video {

    position: absolute;

    left: 0;

    top: 0;

    min-width: 100%;

    min-height: 100%;

}

a:hover {

    color: #0056b3;

    text-decoration: none;

}

div#fullbox {

    overflow: hidden;

    height: 100vh;

}

video.bg-video {
	max-height: 73vh;
    width: 100%;

}

.logo {

    position: absolute;

    top: 0;

    left: 0;

}



#que_ans_sec {
    padding: 10px 20px;
    height: 100%;
}

.question {
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Open Sans";
    border-radius: 8px;
    background-image: linear-gradient(90deg, #1759e1 0%, #002ea7 100%);
    min-height: 80px;
    padding: 6px 20px;
}

div#que_ans_sec .question>p {
   margin-bottom: 0px;
   text-align: center;
}

span.ans-box {
    font-size: 16px;
    line-height: 35px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
}

.que_num {
    font-size: 24px;
    line-height: 32px;
    color: #fefefe;
    font-weight: 700;
    font-family: "Open Sans";
    position: absolute;
    left: 20px;
    text-transform: uppercase;
}


.ans-part {
    margin-top: 5px;
    background-image: linear-gradient(90deg, #1759e1 0%, #002ea7 100%);
    padding: 2px 10px 2px 50px;
    border-radius: 8px;
    position: relative;
}
.foot-img-style>img {
    max-height: 56px;
    padding-top: 10px;
}


/*.video-question-box {

    height: 64vh !important;

    background: green;

    overflow: hidden;

}*/





.progress-bar-num {
    font-size: 20px;
    left: 7px;
    font-weight: 700;
    font-family: "Open Sans";
    display: inline-block;
    position: absolute;
    top: -10px;
    width: 38px;
    height: 32px;
    border-radius: 4px;
    text-align: center;
}

.color-one{

    background-color: #00c5bd;

    color: #fff;

}

.color-two{

    background-color: #f88b00;

    color: #fff;

}

.color-three{

    background-color: #fc4c4c;

    color: #fff;

}

.color-four{

    background-color: #1555e8;

    color: #fff;

}

.percentag-box {
    padding: 0 5px 0 30px;
    height: 40px;
}

.progress {

    border-radius: 0px;

    background-color: #cecece;

}
.progress {
    display: -ms-flexbox;
    display: flex;
    height: 12px;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}
.header-video-bg>img {
    width: 100%;
    max-height: 73vh;
    object-fit: cover;
}


span.correct_ans>img {
width: 24px;
height: 24px;
}

span.wrong_ans>img {
width: 24px;
height: 24px;
}

/*----------------- Vertical Center -------------*/
.header-video-bg img {
    /*width: 80%;*/
}

.percent-sec {
    padding: 4px 20px;
    height: 12vh;
    margin-top: 8px;
}

img.img-fluid.freez-img {
    width: 100%;
    height: 100vh;
    object-fit: fill;
    object-position: center center;
}


div#footerpart {
    background-color: #e0e0e0;
    height: 14vh;
    padding: 12px 0;
}

.true_false {

    height: 36vh !important;

    line-height: 36vh;

}

/*----------------- Vertical Center -------------*/



.point-numb {
    font-size: 22px;
    line-height: 28px;
    color: #fefefe;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
    border-radius: 4px;
    max-width: 152px;
    background-color: #1555e8;
    padding: 4px 6px;
}

.point {
    font-size: 18px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
    max-width: 152px;
    margin-bottom: 0;
    padding-bottom: 0;
}

span.wrong_ans {

    text-align: right;

    float: right;

    cursor: pointer;

    margin-top: 3px;

}

span.correct_ans {

    text-align: right;

    float: right;

    cursor: pointer;

        margin-top: 3px;

}

.right_question {

    background-image: -moz-linear-gradient( 0deg, rgb(31,178,94) 0%, rgb(32,154,24) 50%, rgb(31,178,94) 100%);

    background-image: -webkit-linear-gradient( 0deg, rgb(31,178,94) 0%, rgb(32,154,24) 50%, rgb(31,178,94) 100%);

    background-image: -ms-linear-gradient( 0deg, rgb(31,178,94) 0%, rgb(32,154,24) 50%, rgb(31,178,94) 100%);

}

.box-progress {

    padding: 60px 10px;

}

.true-false-box {

    text-align: center;

    text-transform: uppercase;

}

.truefalse-box {

    font-size: 30px;

    line-height: 40px;

    color: #fefefe;

    font-weight: 600;

    padding: 10px 60px 10px 60px;

}

.welcome {

    font-size: 48px;

    color: #ffffff;

    font-weight: 600;

    text-align: center;

    margin-bottom: 30px;

}

.qr-code-img{

    background: url('../images/qr-code-bg.jpg') no-repeat;

    background-size: cover;

    background-position: center center;

    object-fit: cover;

    object-position: center center;

    height: 100%;

    width: 100%;

  /*   padding: 100px; */

    text-align: center;

}

.quizid {

    font-size: 48px;

    line-height: 59px;

    color: #ffffff;

    font-weight: 600;

    text-align: center;

    margin-top: 30px;

}

.vertical-100{

    height: 100vh;

}

.runners_up>h1 {

    font-size: 32px;

    color: #ffffff;

    font-weight: 600;

    text-align: center;

}

.runners_up>h5 {

    font-size: 24px;

    color: #ffffff;

    text-align: center;

    position: relative;

    cursor: pointer;

}

.runners_up>h5:after{

    content: "";

    background: url('../images/down_arrow.png') no-repeat;

    width: 23px;

    height: 12px;

    position: absolute;

    right: -20px;

    top: 10px;

}

.winner>h1 {

    font-size: 48px;

    color: #ffffff;

    font-weight: 600;

    font-family: "Open Sans";

    text-align: center;

    text-transform: uppercase;

}

.winner>h3 {

    font-size: 28px;

    line-height: 37px;

    color: #ffffff;

    text-align: center;

    display: inline-block;

    position: relative;

    cursor: pointer;

}



.winner>h3:after{

    content: "";

    background: url('../images/down_arrow.png') no-repeat;

    width: 23px;

    height: 12px;

    position: absolute;

    right: -30px;

    top: 14px;

}

.winner {

    margin-bottom: 30px;

}

.modal-header {

    border-bottom: 1px solid transparent;

}

.winner-details {

    margin-bottom: 40px;

}

.winner-team-memeber{

    font-size: 24px;

    line-height: 37px;

    color: #333333;

    font-weight: 700;

    font-family: "Open Sans";

    margin-right: 6px;

}

.winner-details>h1{

    font-size: 48px;

    color: #003dc7;

    font-weight: 600;

    text-transform: uppercase;

    text-align: left;

}

.winner-details>h3 {

    font-size: 28px;

    line-height: 37px;

    color: #003dc7;

    font-weight: 600;

    font-family: "Open Sans";

    text-align: left;

    margin-bottom: 20px;

}

.modal-style {

    border: 6px solid #3c94e9;

    border-radius: 0px;

    outline: 2px solid #003dc7;

    outline-offset: -20px;

}

.winner-number {

    font-size: 24px;

    line-height: 37px;

    color: #333333;

    font-weight: 400;

    font-family: "Open Sans";

    text-align: left;

}

.winner-popup .modal-header .close {

    padding: 1rem 1rem;

    margin: -1rem -0.5rem -1rem auto;

}

.question-box{

    font-size: 36px;

    line-height: 40px;

    color: #ffffff;

    font-weight: 600;

    text-align: center;

}



.select-bid-prcent-section {

    position: fixed;

    top: 50%;

    left: 50%;

    z-index: 9999 !important;

    transform: translate(-50%, -50%);

}

.bit-per{

    font-size: 36px;

    line-height: 40px;

    color: #fefefe;

    font-weight: 600;

}

.bitpercentage-box {

    margin-top: 10px;

    background-image: linear-gradient(90deg, #1759e1 0%, #002ea7 100%);

    padding: 10px 20px;

    border-radius: 8px;

    position: relative;



}

.bid_perc {

    font-size: 36px;

    color: #ffffff;

    font-weight: 600;

    text-align: center;

    background-image: linear-gradient(90deg, #1759e1 0%, #002ea7 100%);

    border-radius: 8px;

    padding: 20px 10px;

}

.progress-percentage {
    position: absolute;
    right: 20px;
    font-size: 20px;
    line-height: 40px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
    padding-right: 20px;

}





@media(max-width:992px){



.percentag-box {

    margin-bottom: 40px;

}



}

@media (min-width: 1340px)

{.container, .container-lg, .container-md, .container-sm, .container-xl {

    max-width: 1280px;

}



}

@media (min-width: 992px){



.modal-lg, .modal-xl {

    max-width: 840px;

}

.select-bid-prcent-section {

    max-width: 100%;

    width: 600px;

}

}



/*------------- animation ------------*/



.all-start{

 position: absolute;

 height: 100%;

 width: 100%;

 left: 0;

 top: 0;

 overflow: hidden;

}

.all-start div{

    position: absolute;

    display: block;

}



.all-start div:nth-child(1)

{

    left: 7%;

    animation: amimate 15s linear infinite;

}

.all-start div:nth-child(2)

{

    left: 10%;

    animation: amimate 20s linear infinite;

}

.all-start div:nth-child(3)

{

    left: 20%;

    animation: amimate 55s linear infinite;

}

.all-start div:nth-child(4)

{

    left: 30%;

    animation: amimate 18s linear infinite;

}

.all-start div:nth-child(5)

{

    left: 40%;

    animation: amimate 15s linear infinite;

}

.all-start div:nth-child(6)

{

    left: 50%;

    animation: amimate 20s linear infinite;

}

.all-start div:nth-child(7)

{

    left: 60%;

    animation: amimate 25s linear infinite;

}

.all-start div:nth-child(8)

{

    left: 70%;

    animation: amimate 15s linear infinite;

}

.all-start div:nth-child(9)

{

    left: 75%;

    animation: amimate 20s linear infinite;

}

.all-start div:nth-child(10)

{

    left: 80%;

    animation: amimate 57s linear infinite;

}

.all-start div:nth-child(11)

{

    left: 85%;

    animation: amimate 18s linear infinite;

}

.all-start div:nth-child(12)

{

    left: 93%;

    animation: amimate 15s linear infinite;

}

.all-start div:nth-child(13)

{

    left: 95%;

    animation: amimate 45s linear infinite;

}



@keyframes amimate{

    0%{

        top: -10%;

        opacity: 0;

        transform: translateX(20px) rotate(0deg);

    }

    10%{

        opacity: 1;

    }

    20%{

       transform: translateX(-20px) rotate(45deg);

    }

     40%{

       transform: translateX(20px) rotate(90deg);

      transform: scale(1.2);

    }

     60%{

       transform: translateX(20px) rotate(135deg);

       transform: scale(1);

    }

     80%{

       transform: translateX(20px) rotate(180deg);

    }

    100%{

        top: 110%;

        transform: translateX(20px) rotate(225deg);

    }

}



/* --------------------background images spin--------------*/

